<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Amazing Events</title>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="../home.html">HOME</a> </li>
            <li><a href="./upcoming.html">Próximos eventos</a></li>
            <li><a href="./past.html">Eventos pasados</a></li>
            <li><a href="./stats.html">Estadísticas</a></li>
        </ul>        
    </nav>
    <main>
        <h1>CONTACT US</h1>
        <form action="" class="contact-form">

            <label for="name">Name:</label>
            <input type="text" class="" name="" id="name">

            <label for="email">Email:</label>
            <input type="email" name="" id="email">

            <label for="message">Message</label>
            <textarea name="" id="message" cols="30" rows="10"></textarea>

        </form>
    </main>
</body>
</html>